.platform
  background white
  margin-bottom 2rem

  > h1
    font-size 1.75rem
    font-weight bold
    margin-bottom 2rem

  > .metrics
    border-bottom .5rem solid #999
    display flex
    flex-flow row wrap
    justify-content flex-start
    width 100%

.game
  border 0 solid #999
  border-bottom-width .25rem
  display flex
  flex-flow row wrap
  margin-bottom 1rem
  max-width 960px
  padding 1rem .5rem
  width 100%

  &:last-of-type {
    border-bottom 0
  }

  h2
    font-size 1.25rem
    font-weight 900
    margin-bottom 2rem

.subtitle
  color #777
  display block
  font-size 1rem
  font-weight 500
  margin-top .25rem

.characters
  align-content flex-start
  display flex
  flex-flow row wrap

.character
  height 3.25rem
  margin-bottom 1rem
  position relative
  text-align center
  min-width 95px

  h3
    height 100%
