tile(url, tooltip)
  background url(url)
  background-repeat no-repeat

  i&
    background-position center
    background-size contain

    &:hover:after
      content tooltip

  .character&
  h3&
    background-position-y 1.25rem
    background-size 2rem

  .character&
    background-position-x 25%

  h3&
    background-position-x 75%
