bars($i)
  .{'height_' + $i}
    height $i * 1%

  .{'width_' + $i}
    width $i * 1%

for num in (0..100)
  bars(num)

.metrics
  font-size .9rem
  width 100%

.metrics_grid
  justify-content space-between
  display flex
  flex-flow column
  margin-bottom 1rem

.male
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f57a.svg?v=2.2.4')

.female
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f483.svg?v=2.2.4')

.sexes
  align-items stretch
  display flex

  .mratio
    background $color_purple
    text-align left
    padding-left .5rem

  .fratio,
  .ratio
    background $color_red
    color white

  .fratio
    padding-right .5rem
    text-align right

  .uratio
    background $color_gold

  .mratio,
  .fratio,
  .uratio
    float left
    line-height $tile_dimension + 10px
    height $tile_dimension + 10px

  .ratio
    flex 1

.metric.roles
  align-items flex-end
  display flex
  flex-flow row
  height 150px

  .entry
    align-items center
    justify-content flex-end
    display flex
    flex 1
    flex-flow column
    height 100%
    padding 0 5px
    text-align center

    .bar
      background $color_cyan
      margin-top .25rem
      min-height .25rem
      width 100%

.ages
  .age_value
    display inline-block
    line-height $tile_dimension
    height $tile_dimension
    margin 5px
