mixin ages(metric)
  figure.metric.ages
    each category in metric
      .entry(title=category.percent + '% ' + category.friendlyAge)
        each sex in category.keys
          i(class=sex)
        span.age_value= category.percent + '%'
