mixin roles(metric)
  figure.metric.roles
    each role in metric.keys
      .entry(title=metric[role] + '% ' + role)
        div=metric[role] + '%'
        .bar(class='height_' + metric[role])
        i(class=role)
    