@import 'node_modules/reset-css/reset.css'

$tile_dimension = 32px

$color_cyan = rgba(106, 218, 197, 1)
$color_gold = rgba(255, 229, 77, 1)
$color_magenta = rgba(255, 115, 192, 1)
$color_purple = rgba(194, 143, 239, 1)
$color_red = rgba(255, 72, 72, 1)
$color_blue = rgba(66, 139, 193, 1)

@import './mixins/_mixins'

@import './metrics/_metrics'
@import './games/_platform'

html
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  font-size 16px
  -webkit-overflow-scrolling touch
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

.hidden
  display none

a,
a:hover,
a:active,
a:visited,
a:focus
  color black
  outline 0
  text-decoration none

body
  background linear-gradient(to bottom, $color_blue, lighten($color_blue, 50%))

.body
  margin auto
  max-width 960px
  width 100%

i
  display inline-block
  height $tile_dimension
  margin 5px
  min-height $tile_dimension
  position relative
  text-align center
  vertical-align top
  width $tile_dimension

.af
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f469-1f3fb.svg?v=2.2.4', 'before')

.cf
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f476-1f3fb.svg?v=2.2.4', 'before')

.yf
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f467-1f3fe.svg?v=2.2.4', 'before')

.of
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f475-1f3fb.svg?v=2.2.4', 'before')

.am
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f468-1f3fc.svg?v=2.2.4', 'before')

.cm
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f476.svg?v=2.2.4', 'before')

.ym
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f466-1f3fd.svg?v=2.2.4', 'before')

.om
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f474-1f3ff.svg?v=2.2.4', 'before')

.um, .uf, .uu, .au, .cu, .yu, .ou
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/2753.svg?v=2.2.4', 'before')

.striker
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/2694.svg?v=2.2.4')

.balanced
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/2696.svg?v=2.2.4')

.bruiser
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f4aa-1f3fe.svg?v=2.2.4')

.skirmisher
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/1f52a.svg?v=2.2.4')

.mage
  tile('https://cdn.jsdelivr.net/emojione/assets/svg/2728.svg?v=2.2.4')

header
  background white
  margin-bottom 2rem

  > h1
    font-size 3rem
    font-weight 700
    line-height 1.5em
    text-align center

  > h2
    font-size 1.5rem
    font-weight 500
    line-height 1.5rem
    margin-bottom 1rem

  > .subheading
    border-bottom .5rem solid #999
    font-size 2rem
    font-weight 500
    line-height 1.5em
    margin-bottom 2rem
    padding-bottom 1rem
    text-align center

  .roles,
  .ages
    border-bottom .25rem solid #999
    display block
    margin-bottom 2rem
    padding-bottom 1rem

    &.roles
      i
        display block
        margin 5px auto

    &:last-of-type
      border-bottom 0
      margin-bottom 0
      padding-bottom 0
    
    td
      min-width ($tile_dimension * 2 + 10px * 2 + 10px)
      padding 0 10px 10px 0
      vertical-align middle

    .um
      display block
      margin 5px auto

  > nav
    border-bottom .5rem solid #999
    margin-bottom 2rem
    padding-bottom 1rem 
    text-align center

    > h2
      margin-bottom 1rem

    .nav_item
      background $color_blue
      border-radius 5px
      color white
      display inline-block
      margin .5rem
      padding .5rem 1rem
      width 70px;

      &:hover
        background darken($color_blue, 10)

footer
  font-size .6rem
  padding-bottom 2rem
  text-align center

@media only screen and (min-width 450px)
  .character
    width 25%

@media only screen and (min-width 560px)
  .character
    width 20%

@media only screen and (max-width 715px)
  .game
    flex-flow column nowrap
    justify-content center

  .metric
    margin-bottom 1.5rem

  .metrics_grid
    margin-bottom 0
    width 100%

  header
  .platform
    padding 1rem .5rem

  header
    > h1
      font-size 1.75rem

    > .subheading
      font-size 1.25rem

@media only screen and (min-width 716px)
  .character
    width (100% / 6)

  .platform h2
    flex 0 1 100vw

  .metrics,
  .platform > .metrics .metric
    min-width 320px - 16px * 2
    width 320px - 16px * 2

  .metrics_grid + .metrics_grid
    margin-left 2rem

  .game_header
    flex-flow row

  header,
  .platform
    padding 1.5rem
