@import 'node_modules/reset-css/reset.css'

html
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  font-size 16px
  -webkit-overflow-scrolling touch
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

$tile_dimension = 32px

body
  margin auto
  max-width 960px
  width 100%

.game
  border 0 solid black
  border-bottom-width 4px
  display flex
  flex-flow row wrap
  max-width 960px
  padding 1rem
  width 100%

h1
  font-size 1.5rem
  font-weight bold
  margin-bottom 2rem

  span
    display block

  .subtitle
    color #777
    font-size 1.1rem
    margin-top .25rem

.characters
  align-content flex-start
  display flex
  flex 1
  flex-flow row wrap

.character
  margin-bottom 1rem
  text-align center
  min-width 95px

.metrics
  width 100%

i
  cursor pointer
  display inline-block
  height $tile_dimension
  margin 5px
  position relative
  text-align center
  vertical-align top
  width $tile_dimension

  &:hover
    &:before, &:after
      background white
      border 1px solid black
      display block
      left 50%
      position absolute
      top $tile_dimension + 10px

    &:before
      border-right 0
      border-bottom 0
      content ''
      height 8px
      transform translate(-50%, -50%) rotate(45deg)
      width 8px
      z-index 2

    &:after
      border-radius 3px
      height auto
      max-width 90px
      padding 5px
      transform translateX(-50%)
      z-index 1

tile(url, tooltip)
  background url(url) no-repeat center / contain

  &:hover:after
    content tooltip

.af
  tile('https://cdn.jsdelivr.net/emojione/assets/png/1f469-1f3fb.png?v=2.2.4', 'woman')

.cf
  tile('http://cdn.jsdelivr.net/emojione/assets/png/1f476-1f3fb.png?v=2.2.4', 'girl')

.yf
  tile('http://cdn.jsdelivr.net/emojione/assets/png/1f467-1f3fe.png?v=2.2.4', 'young woman')

.of
  tile('http://cdn.jsdelivr.net/emojione/assets/png/1f475-1f3fb.png?v=2.2.4', 'old woman')

.am
  tile('http://cdn.jsdelivr.net/emojione/assets/png/1f468-1f3fc.png?v=2.2.4', 'man')

.cm
  tile('http://cdn.jsdelivr.net/emojione/assets/png/1f476.png?v=2.2.4', 'boy')

.ym
  tile('http://cdn.jsdelivr.net/emojione/assets/png/1f466-1f3fd.png?v=2.2.4', 'young man')

.om
  tile('http://cdn.jsdelivr.net/emojione/assets/png/1f474-1f3ff.png?v=2.2.4', 'old man')

.um, .uf, .uu, .au, .cu, .yu, .ou
  tile('http://cdn.jsdelivr.net/emojione/assets/png/2753.png?v=2.2.4', 'unknown')

.striker
  tile('http://cdn.jsdelivr.net/emojione/assets/png/2694.png?v=2.2.4', 'striker')

.balanced
  tile('http://cdn.jsdelivr.net/emojione/assets/png/2696.png?v=2.2.4', 'balanced')

.bruiser
  tile('http://cdn.jsdelivr.net/emojione/assets/png/1f4aa-1f3fe.png?v=2.2.4', 'bruiser')

.skirmisher
  tile('http://cdn.jsdelivr.net/emojione/assets/png/1f52a.png?v=2.2.4', 'skirmisher')

.mage
  tile('http://cdn.jsdelivr.net/emojione/assets/png/2728.png?v=2.2.4', 'mage')

.male
  tile('http://cdn.jsdelivr.net/emojione/assets/png/1f57a.png?v=2.2.4', '% male')

.female
  tile('http://cdn.jsdelivr.net/emojione/assets/png/1f483.png?v=2.2.4', '% female')

.sexes
  align-items stretch
  display flex

  .mratio
    background mediumpurple
    text-align left
    padding-left .5rem

  .fratio,
  .ratio
    background orangered
    color white

  .fratio
    padding-right .5rem
    text-align right

  .uratio
    background gold

  .mratio,
  .fratio,
  .uratio
    float left
    line-height $tile_dimension + 10px
    height $tile_dimension + 10px

  .ratio
    flex 1


@media only screen and (max-width 715px)
  .game
    flex-flow column nowrap
    justify-content center

  .metrics
    margin-bottom 1.5rem
    order 1

  .characters
    order 2

@media only screen
  .character
    width 33%

@media only screen and (min-width 450px)
  .character
    width 25%

@media only screen and (min-width 560px) and (max-width 715px)
  .character
    width 20%

@media only screen and (min-width 716px)
  h1
    flex 0 1 100vw

  .metrics
    width 320px - 16px * 2

@media only screen and (min-width 810px)
  .character
    width 20%
