
include games/platform

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
        meta(property='og:type', content='website')
        meta(property='og:site_name', content='JRPG Demographics')
        meta(property='og:title', content='JRPG Demographics')
        meta(property='og:description', content='A site dedicated to showing the gender, age, and role breakdowns of Japanese role playing games')
        meta(property='og:image', content='https://cdn.jsdelivr.net/emojione/assets/png/1f57a.png?v=2.2.4')
        meta(property='og:url', content='https://jasonrose.github.io/jrpg-demographics')
        link(rel='canonical', href='https://jasonrose.github.io/jrpg-demographics')
        link(rel='icon', type='image/png', href='https://cdn.jsdelivr.net/emojione/assets/png/1f57a.png?v=2.2.4')
        link(rel='stylesheet', href='app.css', media='all')

    body
        header
            h1 JRPG Demographics
            p.subheading Roles, ages, and sexes of playable characters in JRPGs

            nav
                h2 Quick Links:
                each platform in data
                    a.nav_item(href='#' + platform.title)=platform.title.toUpperCase()

            h2 Roles
            table.roles
                tr
                    td
                        i.balanced
                    td Balanced characters are either very good or very bad at everything 
                tr
                    td
                        i.bruiser
                    td Bruisers are typically strong but slow and bad at magic
                tr
                    td
                        i.mage
                    td Mages are good at magic but lacking in strength, defense, or health
                tr
                    td
                        i.skirmisher
                    td Skirmishers are fast and are strong or have nontraditional combat utility
                tr
                    td
                        i.striker
                    td Strikers are strong and either fast or good at magic but come up short elsewhere

            h2 Ages
            table.ages
                tr
                    td
                        i.cm
                        i.cf
                    td Children are or appear to be pre-teens
                tr
                    td
                        i.ym
                        i.yf
                    td Young adults are teenaged and usually living with a caretaker, or are treated as young by others
                tr
                    td
                        i.am
                        i.af
                    td Adults are fully grown and self-sufficient
                tr
                    td
                        i.om
                        i.of
                    td Elderly adults are visibly old or identified as old by others
                tr
                    td
                        i.um
                    td Unknown characters have either unknown or mysterious ages

        each platform in data
            +platform(platform)

        footer
            | © #{new Date().getFullYear()} Jason Rose. Emoji provided free by
            =" "
            a(href='http://emojione.com') EmojiOne
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-87166105-1', 'auto');
            ga('send', 'pageview');
