doctype html
html(lang='en', amp)
    head
        meta(charset='utf-8')
        script(async, custom-element='amp-analytics' src='https://cdn.ampproject.org/v0/amp-analytics-0.1.js')
        script(async, src='https://cdn.ampproject.org/v0.js')
        meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')
        meta(property='og:type', content='website')
        meta(property='og:site_name', content='JRPG Demographics')
        meta(property='og:title', content='JRPG Demographics')
        meta(property='og:description', content='A site dedicated to showing the gender, age, and role breakdowns of Japanese role playing games')
        meta(property='og:image', content='https://cdn.jsdelivr.net/emojione/assets/png/1f57a.png?v=2.2.4')
        meta(property='og:url', content='https://jasonrose.github.io/jrpg-demographics')
        meta(name='twitter:card', content='summary')
        meta(name='twitter:site', content='@sansthesis')
        meta(name='twitter:title', content='JRPG Demographics')
        meta(name='twitter:description', content='A site dedicated to showing the gender, age, and role breakdowns of Japanese role playing games')
        meta(name='twitter:image', content='https://cdn.jsdelivr.net/emojione/assets/png/1f57a.png?v=2.2.4')
        link(rel='canonical', href='index.html')
        link(rel='stylesheet', href='app.css', media='all')
        style(amp-boilerplate).
            body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
        noscript
            style(amp-boilerplate).
                body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}

    body
        include _body.pug
        amp-analytics(type='googleanalytics', id='analytics1')
            script(type='application/json').
                {
                    "vars": {
                        "account": "UA-87166105-1"
                    },
                    "triggers": {
                        "trackPageview": {
                            "on": "visible",
                            "request": "pageview"
                        }
                    }
                }
